@import '../_colors.scss';

.modal > div > div{
    background-color: $corFundo;
    color: $corFonteSecundaria;
    border-color: $corFonteSecundaria;
}

.modal > div > div > div {
    border-color: $corFonteSecundaria;
}

.btindicar {
    background-color: $corPrimaria !important;
}

p.mensagem {
    font-weight: 600;
    color: $corFonteSecundaria;
    filter: opacity(0.7);
    margin-bottom: 0;
    font-size: 14px;
}

p.mensagemcodigo {
    font-weight: 600;
    color: $corFonteSecundaria;
    filter: opacity(0.7);
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
}

div.dados {
    display: grid;
}

div.dados input:first-of-type{
    margin-bottom: 20px;
}

div.dados input {
    border: 0;
    padding: 0 2px;
    font-size: 23px;
    width: 100%;
    outline: none;
    background: none;
    color: $corFonteSecundaria;
}

div.dados input::placeholder{
    color: $corFonteSecundaria;
}

p.gerarlink{
    color: $corFonte;
    margin-top: -5px;
    margin-bottom: 20px;
    cursor: pointer;
    background: $corPrimaria;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

div.containerqrcode {
    display: flex;
    justify-content: center;
    padding: 10px;
}

div.qrcode {
    background: white;
    padding: 10px;
    display: flex;
    justify-content: center;
}

div.qrcode .codigo{
    width: 88%;
}

p.copiarlink{
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    color: $corFonteSecundaria;
    cursor: pointer;
}
