:root {
    --corPrimaria: #ffffff;
    --corSecundaria: #ffffff;
    --corTerciaria: #ffffff;
    --corFundo: #ffffff;
    --corFonte: black;
    --corFonteSecundaria: black;
}

$corPrimaria: var(--corPrimaria);
$corSecundaria: var(--corSecundaria);
$corTerciaria: var(--corTerciaria);
$corFundo: var(--corFundo);
$corFonte: var(--corFonte);
$corFonteSecundaria: var(--corFonteSecundaria);
